<div id="list-container">
  <div id="filter-section">
    <h2>Filtruj</h2>
    <input id="find-text-area" type="text" placeholder="Wyszukaj" [(ngModel)]="filterText"/>
    <div id="filter-buttons">
      <button class="filter-button" (click)="filterRoutes()">wyszukaj</button>
      <button class="filter-button" (click)="listRoutes()">resetuj</button>
    </div>
  </div>
  <h1> Moje trasy </h1>
  <ul id="route-container" *ngIf="routes!.length > 0; else noRoutes">
    <li id ="li-routes" *ngFor="let route of routes">
      <a id ="a-routes" [routerLink]="['/route/' + route.name]">{{ route.name }}</a>
    </li>
  </ul>
  <ng-template #noRoutes>
    <p> Brak elementów do wyświetlenia </p>
  </ng-template>
</div>
