<div id="route-container">
  <h1>Trasa: {{getViewRoute()!.name}}</h1>
  <div id="route-info-container">
    <div id="route-map">
      <div id="map" class="map"></div>
      <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
      </div>
      <button class="usun_button" *ngIf="userService.isLoggedin" (click)="deleteButtonClicked()">Usuń trase z  ulubionych </button>
      <div *ngIf="deleteRouteSuccess" class="delete-route-success">{{ deleteRouteSuccess }}</div>
    </div>
    <div id="route-info">
      <h3> Typ trasy: {{getViewRoute()!.type}}</h3>
      <h3> Trudność trasy: {{getViewRoute()!.difficulty}}</h3>
      <h3> Wymagany sprzęt:</h3>
      <p> {{getViewRoute()!.equipment}} </p>
      <h3> Opis trasy:</h3>
      <p> {{getViewRoute()!.description}} </p>
    </div>
  </div>
</div>
