<div id="main-site">
  <div id="main-information-container">
    <div id="main-information">
      <p id="main-text-section"> Zaplanuj swoją wycieczke dzięki portalowi TravelTopia. Przeglądaj dostępne trasy i zapisz ulubione na swoim profilu.
        Co więcej możesz stworzyć indywidualną trase, gdzie nieograniczają cię główne ścieżki! Stwórz swoją wymarzoną wycieczke po płaskim terenie, górach, a nawet po rzece/jeziorze.
      Wyznacz punkty kontrolne trasy, stwórz trase, a następnie dodaj ją do swoich tras. TravelTopia umożliwi ci również stworzenie wycieczki składającej się z wielu tras.
      <br/><br/>Dołącz do nas już teraz! </p>
    </div>
  </div>
  <div class="information-container">
    <div class="information">
      <h1>Wybierz ulubioną trasę</h1>
      <p class="text-section">
        W naszym portalu masz możliwość przeglądania dostępnych tras, które zostały dokładnie przygotowane pod oczekiwania klientów.
        Wybierz swoję własne preferencje w opcjach filtrowania, tak abyś mógł znaleźć swoją idealną trase, którą możesz zapisać na
        stworzonym przez siebie koncie.
      </p>
    </div>
    <img class="main-img" src="/assets/route-search-view.png" alt="main image" width="800" height="400">
  </div>
  <div class="information-container">
    <img class="main-img" src="/assets/route-view.png" alt="main image" width="700" height="400" >
    <div class="information">
      <h1>Zapoznaj się z daną trasą</h1>
      <p class="text-section">
        Każda z tras zawiera kluczowe informacje potrzebne do odbycia podróży oraz dodatkowe informacje
        na temat noclegów, z których w czasie podróży można skorzystać.
      </p>
    </div>
  </div>
  <div class="information-container">
    <div class="information">
      <h1>Stwórz to czego potrzebujesz</h1>
      <p class="text-section">
        Żadna z naszych tras ci nie pasuje? Nie ma problemu. Na naszym portalu masz możliwość stworzenia swojej
        własnej trasy pod takie wymagania jakie tylko potrzebujesz oraz zapisania jej na swoim profilu gdzie będzie
        dla ciebie dostępna przez caly czas.
      </p>
    </div>
    <img class="main-img" src="/assets/create-route-view.png" alt="main image" width="800" height="400" >
  </div>
</div>

