<div class="main-container">
  <div class="main-information-container">
    <div class="main-information">
      <p class="main-text-section"> Zaplanuj swoją wycieczkę dzięki portalowi TravelTopia. Przeglądaj dostępne trasy i zapisz ulubione na swoim profilu.
        Co więcej możesz stworzyć indywidualną trasę, gdzie nie muszą ograniczać cię główne ścieżki! Stwórz swoją wymarzoną wycieczke po płaskim terenie, górach, a nawet po rzece/jeziorze.
      Wyznacz punkty kontrolne trasy, stwórz trasę, a następnie dodaj ją do swoich tras. TravelTopia umożliwi ci również stworzenie wycieczki składającej się z wielu tras, którą również możesz zapisać na później.
      <br/><br/>Dołącz do nas teraz! </p>
    </div>
  </div>
  <div class="information-container">
    <div class="information">
      <h1>Wybierz ulubioną trasę</h1>
      <p class="text-section">
        W naszym portalu masz możliwość przeglądania dostępnych tras, które zostały dokładnie przygotowane pod oczekiwania klientów.
        Wybierz swoje własne preferencje w opcjach filtrowania, tak abyś mógł znaleźć swoją idealną trasę, którą możesz potem zapisać na
        koncie.
      </p>
    </div>
    <img class="information-img" src="/assets/route-search-view.png" alt="main image" width="800" height="400">
  </div>
  <div class="information-container">
    <img class="information-img" src="/assets/route-view.png" alt="main image" width="700" height="400" >
    <div class="information">
      <h1>Zapoznaj się z daną trasą</h1>
      <p class="text-section">
        Każda z tras zawiera kluczowe informacje potrzebne do odbycia podróży.
      </p>
    </div>
  </div>
  <div class="information-container">
    <div class="information">
      <h1>Stwórz to czego potrzebujesz</h1>
      <p class="text-section">
        Żadna z naszych tras ci nie pasuje? Nie ma problemu. "Na naszym portalu możesz stworzyć własną trasę, dostosowaną
        do swoich potrzeb. Możesz zapisać ją na swoim profilu gdzie będzie
        dostępna dla ciebie przez cały czas.
      </p>
    </div>
    <img class="information-img" src="/assets/create-route-view.png" alt="main image" width="800" height="400" >
  </div>
  <div class="information-container">
    <img class="information-img" src="/assets/create-route-view.png" alt="main image" width="800" height="400" >
    <div class="information">
      <h1>A może trasa to za mało?</h1>
      <p class="text-section">
        Nasza wisienka na torcie, czyli możliwość tworzenia wieloetapowych imprez turystycznych. Dodaj do ulubionych trasy, które najbardziej ci odpowiadają lub stwórz własne,
        a na podstawie nich stwórz swoją wymarzoną wycieczkę.
      </p>
    </div>
  </div>
  <div class="information-container">
    <div class="information">
      <h1>Wybierz ulubioną wycieczkę</h1>
      <p class="text-section">
        Szukaj dowolnie gotowych wycieczek i filtruj je według własnych potrzeb, a najlepsze zapisz na później na swoim koncie.
      </p>
    </div>
    <img class="information-img" src="/assets/create-route-view.png" alt="main image" width="800" height="400" >
  </div>
  <div class="information-container">
    <img class="information-img" src="/assets/create-route-view.png" alt="main image" width="800" height="400" >
    <div class="information">
      <h1>Zapoznaj się z wycieczką</h1>
      <p class="text-section">
        Każdą wycieczkę możesz wyświetlić na mapie wraz z potrzebnymi informacjami na jej temat.
        Możesz również podejrzeć bardziej konkretne informacje na temat każdej trasy składającej się na wycieczkę.
      </p>
    </div>
  </div>
  <div class="information-container">
    <div class="information">
      <h1>Łatwe logowanie</h1>
      <p class="text-section">
        Nie musisz tworzyć konta na naszym portalu - wystarczy szybkie logowanie za pomocą konta Google. Zaloguj się i nie martw się, że twoje ulubione wycieczki i trasy znikną
      </p>
    </div>
    <img class="information-img" src="/assets/create-route-view.png" alt="main image" width="800" height="400" >
  </div>
</div>

