<div class="main-container">
  <div id="choose-routes-title">Wybierz trasy</div>
  <div id="chosen-routes-title">Wybrane trasy</div>
  <div class="routes">
    <ul class="route-container" *ngIf="routes.length > 0">
      <li class ="li-routes" *ngFor="let route of routes">
        <a class ="a-routes" >{{ route.name }}</a>
        <button *ngIf="routePreviewID === route.id" id="route-add" (click)="addRouteToTrip(route)"> dodaj </button>
        <button *ngIf="routePreviewID !== route.id" id="route-preview" (click)="routePreview(route)"> podgląd </button>
      </li>
    </ul>
    <p *ngIf="routes.length == 0">Brak elementów do wyświetlenia</p>
  </div>
  <div id="map" class="map"></div>
  <div class="trip-properties">
    <label id="trip-name-label">Podaj nazwę wycieczki</label>
    <input class="route-properties-el" type="text" [(ngModel)]="tripName" placeholder="Wpisz nazwe wycieczki" class="route-name-input" />
    <div class = "trip-properties-el">
      <label class="text-label"> Opisz wycieczkę (opcjonalnie) </label>
      <textarea class="text-area" [(ngModel)]="description" rows="6"></textarea>
    </div>
    <button class="button-el" (click)="clearButtonClicked()"> Wyczyść </button>
    <div *ngIf="userService.isLoggedin">
      <button *ngIf="userService.isDeveloper" class="button-el" (click)="addButtonClicked()"> Dodaj wycieczkę </button>
      <button *ngIf="!userService.isDeveloper"  class="button-el" (click)="addUserButtonClicked()"> Dodaj wycieczkę</button>
    </div>
    <div *ngIf="addTripSuccess" class="add-trip-success">{{ addTripSuccess }}</div>
  </div>
  <div class="trip-routes">
    <ul class="route-container" *ngIf="routesTrip.length > 0">
      <li class ="li-routes" *ngFor="let route of routesTrip; let last = last">
        <a class ="a-routes" >{{ route.name }}</a>
        <button *ngIf="last" (click)="removeRouteFromTrip()" id="route-remove"> usuń </button>
      </li>
    </ul>
  </div>
</div>
