<div id="profile-section" *ngIf="userService.socialUser">
  <h1>Mój profil</h1>
  <div *ngIf="this.userService.socialUser" id="information-section">
    <table id="info-table">
      <tr>
        <td><strong>Imię:</strong></td>
        <td>{{ userService.socialUser!.firstName || '-' }}</td>
      </tr>
      <tr>
        <td><strong>Nazwisko:</strong></td>
        <td>{{ userService.socialUser!.lastName || '-' }}</td>
      </tr>
      <tr>
        <td><strong>e-mail:</strong></td>
        <td> {{ userService.socialUser!.email || '-' }}</td>
      </tr>
    </table>
  </div>
</div>
