<div id="trip-container">
  <div id="name"></div>
  <div id="trip-map">
    <div id="map" class="map"></div>
    <div id="popup" class="ol-popup">
      <button id="popup-closer" class="ol-popup-closer"> x </button>
      <div id="popup-content"></div>
    </div>
  </div>
  <div id="trip-info">
    <div *ngIf="this.view_trip" id="information">
      <h1> {{ this.view_trip.name}} </h1>
      <table class="trip-info-table">
        <tr>
          <td><strong>Trudność wycieczki:</strong></td>
          <td>{{ this.view_trip.difficulty }}</td>
        </tr>
        <tr>
          <td><strong>Opis wycieczki:</strong></td>
          <td>{{ this.view_trip.description || '-' }}</td>
        </tr>
        <tr>
          <td><strong>Szacowany Dystans:</strong></td>
          <td>{{ this.calculateDistance().toFixed(2) }} km</td>
        </tr>
      </table>
    </div>
    <h3> Trasy:</h3>
    <div id="routes">
      <ul *ngIf="this.routes" id="route-container">
        <li *ngFor="let route of this.routes" class="li-routes">
          <a [routerLink]="['/route', route.name]" class="a-routes">{{ route.name }}</a>
        </li>
      </ul>
      <p *ngIf="this.routes.length === 0">Brak elementów do wyświetlenia</p>
    </div>
  </div>
  <div id="user-option-container">
    <div id="user-container" *ngIf="userService.isLoggedin">
      <button class="add_button" *ngIf="isFavourite$ | async" (click)="deleteButtonClicked()">Usuń wycieczke z ulubionych </button>
      <button class="add_button" *ngIf="!(isFavourite$ | async)" (click)="addButtonClicked()">Dodaj wycieczke do ulubionych </button>
      <div *ngIf="operationSuccess" class="add-trip-success">{{ operationSuccess }}</div>
    </div>
  </div>
</div>
