<div id="trip-container">
  <h1>Trasa: {{getViewTrip()!.name}}</h1>
  <div id="trip-info-container">
    <div id="trip-map">
      <div id="map" class="map"></div>
      <div id="popup" class="ol-popup">
        <button id="popup-closer" class="ol-popup-closer"> x </button>
        <div id="popup-content"></div>
      </div>
      <div *ngIf="userService.isLoggedin">
        <button class="add_button" *ngIf="isFavourite$ | async" (click)="addButtonClicked()">Usuń wycieczke z ulubionych </button>
        <button class="add_button" *ngIf="!(isFavourite$ | async)" (click)="addButtonClicked()">Dodaj wycieczke do ulubionych </button>
      </div>
      <div *ngIf="operationSuccess" class="add-trip-success">{{ operationSuccess }}</div>
    </div>
    <div id="trip-info">
      <h3> Trudność wycieczki: {{getViewTrip()!.difficulty}}</h3>
      <h3> Opis wycieczki:</h3>
      <p> {{getViewTrip()!.description}} </p>
      <h3> Trasy:</h3>
      <div id="routes"></div>
    </div>
  </div>
</div>
