<div class="main-container">
  <div id="trip-map">
    <div id="map" class="map"></div>
    <div id="popup" class="ol-popup">
      <button id="popup-closer" class="ol-popup-closer"> x </button>
      <div id="popup-content"></div>
    </div>
  </div>

  <div *ngIf="this.view_trip" id="trip-info">
    <div id="trip-title"> {{ this.view_trip.name}} </div>

    <table class="trip-info-table">
      <tr class="trip-info-row">
        <td class="trip-info-title"><strong>Trudność wycieczki:</strong></td>
        <td class="trip-info-data">{{ this.view_trip.difficulty }}</td>
      </tr>
      <tr class="trip-info-row">
        <td class="trip-info-title"><strong>Szacowany Dystans:</strong></td>
        <td class="trip-info-data">{{ this.calculateDistance().toFixed(2) }} km</td>
      </tr>
      <tr class="trip-info-row-title">Opis wycieczki:</tr>
      <tr class="trip-info-row-data">{{ this.view_trip.description || '-' }}</tr>
    </table>

    <div *ngIf="this.routes" id="route-container">
      <ul>
        <div id="routes-label">Trasy:</div>
        <li *ngFor="let route of this.routes" class="li-routes">
          <a [routerLink]="['/route', route.id]" class="a-routes">{{ route.name }}</a>
        </li>
      </ul>
    </div>
    <p *ngIf="this.routes.length === 0">Brak elementów do wyświetlenia</p>

    <div id="user-container" *ngIf="userService.isLoggedin">
      <button class="favourite_button" *ngIf="isFavourite$ | async" (click)="deleteButtonClicked()">Usuń wycieczkę z ulubionych </button>
      <button class="favourite_button" *ngIf="!(isFavourite$ | async)" (click)="addButtonClicked()">Dodaj wycieczkę do ulubionych </button>
      <div *ngIf="operationSuccess" class="add-trip-success">{{ operationSuccess }}</div>
    </div>
  </div>
</div>
