#trip-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#name {
  font-family: "Calibri Light";
  font-weight: bolder;
  border-top-style: solid;
  border-top-width: thin;
  border-bottom-style: solid;
  border-bottom-width: thin;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 8;
  background: lavender;
}

#trip-info-container{
  grid-area: 2 / 1 / 13 / 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 840px;
  height: 100%;
}

#trip-map{
  grid-area: 2 / 3 / 13 / 8;
  width: 100%;
  height: 100%;
  border-left-style: solid;
  border-left-width: thin;
}

#trip-info{
  grid-area: 2 / 1 / 13 / 3;
  display: flex;
  flex-direction: column;
  background: lavender;
  font-family: "Calibri Light";
  height: fit-content;
  width: 100%;
  height: 100%;
  min-width: 200px;
  border-right-style: solid;
  border-right-width: thin;
  align-items: center;
}

#information {
  width: 100%;
}

#routes {
  width: 100%;
}

h3 {
  border-bottom-style: solid;
  border-bottom-width: thin;
  width: 100%;
  border-bottom-color: gray;
  padding-left: 20px;
  padding-bottom: 10px;
}

.info-element {
  background-color: red;
}

.map {
  width: 100%;
  height: 100vh;
}

#popup{
  background: whitesmoke;
  box-shadow: 0px 2px 5px 0px;
  border-radius: 20px;
}

#popup-content{
  font-family: "Calibri Light";
  font-weight: bold;
  font-size: small;
  background: whitesmoke;
  padding: 1px;
  border-radius: 20px;
}

#popup-closer{
  background: lavender;
  border-style: solid;
  border-width: 1px;
}

h1{
  font-family: "Calibri Light";
  box-shadow: 0px 0px 4px 0px;
  background-color: lavender;
  width: 100%;
  text-align: center;
}

.add_button{
  background-color: #9966FF;
  padding: 20px 30px;
  border-radius: 20px;
  margin: 10px;
  width: 60%;
}

.add-trip-success {
  padding: 5px 5px;
  border: 1px black;
  background-color: #9966FF;
  border-radius: 20px;
  text-align: center;
}

p{
  font-size: medium;
  font-weight: bold;
  background: white;
  padding: 10px;
  width: 95%;
  border-radius: 20px;
}

#user-option-container{
  grid-area: 12 / 1 / 13 / 3;
  background-color: lavender;
  height: 100%;
  width: 100%;
}

#user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: 12 / 1 / 13 / 3;
  background-color: lavender;
  width: 100%;
  height: 100%;
}

td{
  borderBottomStyle: solid;
  borderBottomWidth: thin;
  /*borderBottomColor: gray;*/
  paddingBottom: 10px;
  paddingLeft: 10px;
  width: 100%;
}

#route-container {
  list-style-type: none;
  padding: 0;
}

.li-routes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.a-routes {
  font-family: 'Calibri Light', sans-serif;
  font-size: larger;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  margin-left: -40px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: block;
}
