.h1{
  text-align: center;
}

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lat, .lng, .trasa_button, .wyczysc_button, .dodaj_button {
  background-color: lavender;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px;
}

.latLng {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#div_map{
  display: flex;
  flex-direction: column;
  padding: 50px;
}


.map {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
  padding: 20px;
}

#popup-content{
  font-size: small;
  background: whitesmoke;
  padding: 1px;
  border-radius: 5px;
}
