.h1{
  text-align: center;
}

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lat, .lng, .trasa_button, .wyczysc_button {
  background-color: lavender;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px;
}

.latLng {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#first_map{
  display: flex;
  flex-direction: column;
  padding: 50px;
}

#second_map{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
