<google-map height="500" width="800" [center]="center!"
            [zoom] = 15
            (mapClick)="moveMap($event)">
    <map-marker
      #markera="mapMarker"
      [position]="markerA!">
      <!--(mapClick)="openInfoWindow(markera)"-->
    </map-marker>
    <map-marker
      #markerb="mapMarker"
      [position]="markerB!">
      <!--(mapClick)="openInfoWindow(markerb)"-->
    </map-marker>
    <map-marker
        #marker_center="mapMarker"
        [position]="markerCenter!"
        [visible]="false">
    </map-marker>
    <map-polyline [path]="route!"></map-polyline>
    <map-info-window> Distance:  {{distance | number:'1.0-2'}}  km <br>
                      Time: {{time | number:'1.0-2'}} minutes </map-info-window>
</google-map>
<div class="latLng">
<div id="lat">Latitude: {{display?.lat}}</div>
<div id="lng">Longitude: {{display?.lng}}</div>
</div>
