<div id="map-container">
  <div id="creator-title">Kreator trasy</div>
  <div id="map" class="map"></div>
  <div id="popup" class="ol-popup">
    <button  id="popup-closer" class="ol-popup-closer"> x </button>
    <div id="popup-content"></div>
  </div>
  <div id="map-create-container">
    <div class="route-properties">
      <div class="route-properties-selected-el">
        <label class="properties-label"> Wybierz typ trasy </label>
        <select class="select-type" [(ngModel)]="selectedType">
          <option value="morze" class="option"> morze </option>
          <option value="jezioro" class="option"> jezioro </option>
          <option value="góry" class="option"> góry </option>
          <option value="las" class="option"> las </option>
          <option value="miejska" class="option"> miejska </option>
          <option value="polna" class="option"> polna </option>
          <option value="dolina" class="option"> dolina </option>
          <option value="wzgórza" class="option"> wzgórza </option>
          <option value="plaża" class="option"> plaża </option>
          <option value="rzeka" class="option"> rzeka </option>
        </select>
      </div>
      <div class="route-properties-selected-el">
        <label class="properties-label"> Wybierz trudność trasy </label>
        <select class="select-type" [(ngModel)]="selectedDifficulty">
          <option value="łatwa" class="option"> łatwa </option>
          <option value="normalna" class="option"> normalna </option>
          <option value="trudna" class="option"> trudna </option>
        </select>
      </div>
      <div class="route-properties-el">
        <label class="text-label"> Wymień potrzebny sprzęt (opcjonalnie) </label>
        <textarea class="text-area" [(ngModel)]="equipment" rows="4"></textarea>
      </div>
      <div class="route-properties-el">
        <label class="text-label"> Opisz trase, daj wskazówki (opcjonalnie) </label>
        <textarea class="text-area" [(ngModel)]="description" rows="6"></textarea>
      </div>
      <div class="route-properties-el">
        <label class="text-label"> Wpisz szacowany czas pokonania trasy: </label>
        <div class="time-container">
          <label for="hours" class="hour-label"> Godziny: </label>
          <select id="hours"  class="select-hour" [(ngModel)]="selectedHour">
            <option *ngFor="let hour of hours" [value]="hour" class="option"> {{ hour }} </option>
          </select>
        </div>
        <div class="time-container">
          <label for="minutes" class="minutes-label"> Minuty: </label>
          <select id="minutes" class="select-minutes" [(ngModel)]="selectedMinute">
            <option *ngFor="let minute of minutes" [value]="minute" class="option"> {{ minute }} </option>
          </select>
        </div>
      </div>
      <div id="input-container">
        <label class="input-label">Podaj nazwę trasy:</label>
        <input type="text" [(ngModel)]="routeName" placeholder="Wpisz nazwe trasy" class="route-name-input" />
      </div>
    </div>
    <div class="buttons">
      <button class="trasa-button" (click)="drawButtonClicked()">Stwórz trasę</button>
      <button class = "clear-button" (click)="clearButtonClicked()">Wyczyść trasę</button>
      <div *ngIf="addRouteSuccess" class="add-route-success">{{ addRouteSuccess }}</div>
    </div>
    <div class="route-input">
      <div *ngIf="userService.isLoggedin" id="add-route-section">
        <button *ngIf="userService.isDeveloper" class="add-route" (click)="addButtonClicked()">Dodaj trasę </button>
        <button *ngIf="!userService.isDeveloper"  class="add-route" (click)="addUserButtonClicked()">Dodaj trasę</button>
      </div>
    </div>
    <div class="latLng">
      <div class="lat">Latitude: {{getCoordinates()?.lat}}</div>
      <div class="lng">Longitude: {{getCoordinates()?.lng}}</div>
    </div>
  </div>
</div>
