#map-container {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: center;
}

.map {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  padding: 20px;
}

#popup-content{
  font-size: small;
  background: whitesmoke;
  padding: 1px;
  border-radius: 5px;
}

#map-create-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 40%;
}

.lat, .lng, .trasa_button, .wyczysc_button, .route-name-input  {
    background-color: lavender;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
}

.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.trasa_button, .wyczysc_button {
    width: 100%;
}

.dodaj{
  background-color: lavender;
  padding: 10px 20px;
  border-radius: 20px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.route-input {
    display: flex;
    align-items: center;
}

#add-route-section{
  width: 100%;
}
.route-name-input {
    flex: 1;
}

.add-route-success {
    padding: 5px 5px;
    border: 1px  black;
    background-color: lightsteelblue;
    color: black;
    border-radius: 20px;
    text-align: center;
}

.latLng {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#div_map{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#menu_bar{
    background-color: lavender;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#title{
    font-family: "Calibri Light";
    height: 100%;
    padding-left: 30px;
}

.menu_button{
    font-family: "Calibri Light";
    font-size: larger;
    font-weight: bolder;
    background-color: lavender;
    width: 30%;
    border: none;
    border-radius: 50px;
}

#menu_buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.menu_button:hover{
    background-color: #c4b9de;
}

#information-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

#info{
    font-family: "Arial";
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 60%;
}

#list-container {
    flex: 1;
    padding: 1em;
    border-left: 1px solid #ddd;
    text-align: center;
}

#li-routes{
    background-color: lavender;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    list-style-type: none;
}

#li-routes:hover{
    background-color: #c4b9de;
}

.route-properties{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.route-properties-selected-el{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.route-properties-el{
  display: flex;
  flex-direction: column;
}

.properties-label{
  width: 100%;
  background: lavender;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: "Calibri Light";
  font-weight: bold;
  border-style: outset;
  border-color: black;
  border-width: 2px;
}

.select-type{
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin-left: -30px;
  border-style: outset;
  border-color: black;
  border-width: 2px;
  font-weight: bold;
  font-family: "Calibri Light";
  font-size: medium;
}

.option{
  text-align: center;
  font-family: "Calibri Light";
  font-weight: bold;
  font-size: larger;
}

.text-label{
  width: 96%;
  background: lavender;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: "Calibri Light";
  font-weight: bold;
  border-style: outset;
  border-color: black;
  border-width: 2px;
}

.text-area{
  font-family: "Calibri Light";
  font-size: medium;
  font-weight: bold;
  margin-bottom: 10px;
  resize: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.time-container{
  display: flex;
  flex-direction: row;
}

.hour-label{
  width: 100%;
  background: lavender;
  padding: 10px;
  text-align: center;
  font-family: "Calibri Light";
  font-weight: bold;
  border-style: outset;
  border-color: black;
  border-width: 2px;
  border-top: none;
}

.minutes-label{
  width: 100%;
  background: lavender;
  padding: 10px;
  text-align: center;
  font-family: "Calibri Light";
  font-weight: bold;
  border-style: outset;
  border-color: black;
  border-width: 2px;
  margin-bottom: 5px;
  border-bottom-left-radius: 20px;
  border-top: none;
}

.select-hour{
  width: 100%;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: -30px;
  border-style: outset;
  border-color: black;
  border-width: 2px;
  font-weight: bold;
  font-family: "Calibri Light";
  font-size: medium;
  border-top: none;
}

.select-minutes{
  width: 100%;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -30px;
  margin-bottom: 5px;
  border-style: outset;
  border-color: black;
  border-width: 2px;
  font-weight: bold;
  font-family: "Calibri Light";
  font-size: medium;
  border-top: none;
}
