#map-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#creator-title {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 4;
  font-family: "Calibri Light";
  background-color: lavender;
  font-size: xx-large;
  font-weight: bolder;
  border-top-style: solid;
  border-top-width: thin;
}

.map {
  grid-area: 1 / 4 / 11 / 10;
  width: 100%;
  height: 120vh;
  border-top-style: solid;
  border-top-width: thin;
  border-left-width: thin;
  border-left-style: solid;
}

#popup{
  background: whitesmoke;
  box-shadow: 0px 2px 5px 0px;
  border-radius: 20px;
}

#popup-content{
  font-family: "Calibri Light";
  font-weight: bold;
  font-size: small;
  background: whitesmoke;
  padding: 1px;
  border-radius: 20px;
}

#popup-closer{
  background: lavender;
  border-style: solid;
  border-width: 1px;
}

#map-create-container{
  grid-area: 2 / 1 / 11 / 4;
  display: flex;
  flex-direction: column;
  #padding-top: 40px;
  align-items: center;
  width: 100%;
}

#map-create-container > * {
  width: 100%;
}

.lat, .lng, .trasa-button, .clear-button  {
    background-color: lavender;
    padding: 10px 20px;
    margin: 5px;
}

.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.trasa-button, .clear-button {
  width: 100%;
  transition: background-color 0.2s;
}

.trasa-button:hover, .clear-button:hover {
  background-color: #c4b9de;

}

.add-route{
  background-color: lavender;
  padding: 10px 20px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: background-color 0.2s;
}

.add-route:hover {
  background-color: #c4b9de;
}

.route-input {
    display: flex;
    align-items: center;
}

#add-route-section{
  width: 100%;
}

.route-name-input {
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    border-top-style: none;
}

.add-route-success {
    padding: 5px 5px;
    border: 1px  black;
    background-color: lightsteelblue;
    color: black;
    border-radius: 20px;
    text-align: center;
}

#div_map{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#menu_bar{
    background-color: lavender;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#title{
    font-family: "Calibri Light";
    height: 100%;
    padding-left: 30px;
}

.menu_button{
    font-family: "Calibri Light";
    font-size: larger;
    font-weight: bolder;
    background-color: lavender;
    width: 30%;
    border: none;
    border-radius: 50px;
}

#menu_buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.menu_button:hover{
    background-color: #c4b9de;
}

#information-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

#info{
    font-family: "Arial";
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 60%;
}

#list-container {
    flex: 1;
    padding: 1em;
    border-left: 1px solid #ddd;
    text-align: center;
}

#li-routes{
    background-color: lavender;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    list-style-type: none;
}

#li-routes:hover{
    background-color: #c4b9de;
}

.route-properties{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.route-properties-selected-el{
  display: flex;
  flex-direction: row;
}

.route-properties-el{
  display: flex;
  flex-direction: column;
}

.properties-label{
  width: 100%;
  background: lavender;
  padding: 10px;
  text-align: center;
  font-family: "Calibri Light";
  font-weight: bold;
  border-top-style: outset;
  border-color: black;
  border-width: 2px;
}

.select-type{
  width: 100%;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: -30px;
  border-bottom-style: none;
  border-right-style: none;
  border-color: black;
  border-width: 2px;
  font-weight: bold;
  font-family: "Calibri Light";
  font-size: medium;
}

.option{
  text-align: center;
  font-family: "Calibri Light";
  font-weight: bold;
  font-size: larger;
}

.text-label{
  width: 100%;
  box-sizing: border-box;
  background: lavender;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Calibri Light";
  font-weight: bold;
  border-top-style: outset;
  border-bottom-style: outset;
  border-color: black;
  border-width: 2px;
}

.text-area{
  font-family: "Calibri Light";
  font-size: medium;
  font-weight: bold;
  resize: none;
  border-bottom-style: none;
}

.time-container{
  display: flex;
  flex-direction: row;
}

#distance-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background: lavender;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  font-family: "Calibri Light";
  font-weight: bold;
  border-style: outset;
  border-right-style: none;
  border-color: black;
  border-width: 2px;
  border-top: none;
  box-sizing: border-box;
}

#distance-label {
  width: 50%;
}

#distance-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: white;
  width: 50%;
  height: 100%;
  border-bottom-right-radius: 20px;
  border-left-style: solid;
  border-left-color: lightgray;
  border-left-width: thin;
  color: lightgray;
}

.hour-label{
  width: 100%;
  background: lavender;
  padding: 10px;
  text-align: center;
  font-family: "Calibri Light";
  font-weight: bold;
  border-style: outset;
  border-color: black;
  border-width: 2px;
  border-top: none;
}

.minutes-label{
  width: 100%;
  background: lavender;
  padding: 10px;
  text-align: center;
  font-family: "Calibri Light";
  font-weight: bold;
  border-style: outset;
  border-color: black;
  border-width: 2px;
  border-top: none;
}

.select-hour{
  width: 100%;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: -30px;
  border-style: outset;
  border-right-style: none;
  border-color: black;
  border-width: 2px;
  font-weight: bold;
  font-family: "Calibri Light";
  font-size: medium;
  border-top: none;
}

.select-minutes{
  width: 100%;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: -30px;
  border-right-style: none;
  border-color: black;
  border-width: 2px;
  font-weight: bold;
  font-family: "Calibri Light";
  font-size: medium;
  border-top: none;
}

#input-container {
  display: flex;
  flex-direction: column;
}

.input-label {
  width: 100%;
  background: lavender;
  padding: 10px;
  text-align: center;
  font-family: "Calibri Light";
  font-weight: bold;
  border-style: outset;
  border-right-style: none;
  border-color: black;
  border-width: 2px;
  border-top: none;
  box-sizing: border-box;
}
