<div id="div_map">
    <div id="menu_bar">
        <h1 id="title">TravelTopia</h1>
        <div id="menu_buttons">
            <button class="menu_button">strona główna</button>
            <button class="menu_button">Przeglądaj trasy</button>
            <button class="menu_button">Stwórz trasę</button>
        </div>
    </div>
    <div id="map-container">
        <div id="map" class="map"></div>
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
        <div class="latLng">
            <div class="lat">Latitude: {{getCoordinates()?.lat}}</div>
            <div class="lng">Longitude: {{getCoordinates()?.lng}}</div>
        </div>
        <div class="buttons">
            <button class="trasa_button" (click)="drawButtonClicked()">Stwórz trase</button>
            <button class = "wyczysc_button" (click)="clearButtonClicked()">Wyczyść trase</button>
            <div *ngIf="addRouteSuccess" class="add-route-success">{{ addRouteSuccess }}</div>
        </div>
        <div class="route-input">
            <input type="text" [(ngModel)]="routeName" placeholder="Wpisz nazwe trasy" class="route-name-input" />
            <button class="dodaj" (click)="addButtonClicked()">Dodaj trasę</button>
        </div>
    </div>
</div>
