<div id="map-container">
  <div id="map" class="map"></div>
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
  <div id="map-create-container">
    <div class="route-properties">
      <div class="route-properties-selected-el">
        <label class="properties-label"> Wybierz typ trasy </label>
        <select id="select-type" [(ngModel)]="selectedType">
          <option value="morze" class="type-option"> morze </option>
          <option value="jezioro" class="type-option"> jezioro </option>
          <option value="góry" class="type-option"> góry </option>
          <option value="las" class="type-option"> las </option>
          <option value="miejska" class="type-option"> miejska </option>
          <option value="polna" class="type-option"> polna </option>
          <option value="dolina" class="type-option"> dolina </option>
          <option value="wzgórza" class="type-option"> wzgórza </option>
          <option value="plaża" class="type-option"> plaża </option>
          <option value="rzeka" class="type-option"> rzeka </option>
        </select>
      </div>
      <div class="route-properties-selected-el">
        <label class="properties-label"> Wybierz trudność trasy </label>
        <select id="select-difficulty" [(ngModel)]="selectedDifficulty">
          <option value="łatwa" class="difficulty-option"> łatwa </option>
          <option value="normalna" class="difficulty-option"> normalna </option>
          <option value="trudna" class="difficulty-option"> trudna </option>
        </select>
      </div>
      <div class="route-properties-el">
        <label class="properties-label"> Wymień potrzebny sprzęt (opcjonalnie) </label>
        <textarea id="select-equipment" [(ngModel)]="equipment" rows="3"></textarea>
      </div>
      <div class="route-properties-el">
        <label class="properties-label"> Opisz trase, daj wskazówki (opcjonalnie) </label>
        <textarea id="select-description" [(ngModel)]="description" rows="6"></textarea>
      </div>
      <input type="text" [(ngModel)]="routeName" placeholder="Wpisz nazwe trasy" class="route-name-input" />
    </div>
    <div class="buttons">
      <button class="trasa_button" (click)="drawButtonClicked()">Stwórz trase</button>
      <button class = "wyczysc_button" (click)="clearButtonClicked()">Wyczyść trase</button>
      <div *ngIf="addRouteSuccess" class="add-route-success">{{ addRouteSuccess }}</div>
    </div>
    <div class="route-input">
      <div *ngIf="userService.isLoggedin" >
        <button *ngIf="userService.isDeveloper" class="dodaj" (click)="addButtonClicked()">Dodaj trasę developera</button>
        <button *ngIf="!userService.isDeveloper"  class="dodaj" (click)="addUserButtonClicked()">Dodaj trasę</button>
      </div>
    </div>
    <div class="latLng">
      <div class="lat">Latitude: {{getCoordinates()?.lat}}</div>
      <div class="lng">Longitude: {{getCoordinates()?.lng}}</div>
    </div>
  </div>

</div>
