<div class="main-container">
  <div id="filter-section">
    <h2>Filtruj</h2>
    <label class="filter-label">nazwa</label>
    <input id="find-text-area" type="text" placeholder="Wyszukaj" [(ngModel)]="filterTripName"/>
    <label class="filter-label"> trudność trasy </label>
    <select class="select-type" [(ngModel)]="filterTripDifficulty">
      <option value="łatwa" class="option"> łatwa </option>
      <option value="normalna" class="option"> normalna </option>
      <option value="trudna" class="option"> trudna </option>
    </select>
    <div id="filter-buttons">
      <button class="filter-button" (click)="filterTrips()">wyszukaj</button>
      <button class="filter-button" (click)="resetTrips()">resetuj</button>
    </div>
  </div>
  <div id="title">
    <h1>Moje wycieczki</h1>
  </div>
  <div id="trips-section">
    <ul id="trip-container" *ngIf="trips.length > 0">
      <li id ="li-trips" *ngFor="let trip of trips">
        <a id ="a-trips" [routerLink]="['/trip/' + trip.id]">{{ trip.name }}</a>
      </li>
    </ul>
    <p *ngIf="trips.length == 0">Brak elementów do wyświetlenia</p>
  </div>
</div>
