<div id="list-container">
<!--  <div id="filter-section">-->
<!--    <h2>Filtruj</h2>-->
<!--    <input id="find-text-area" type="text" placeholder="Wyszukaj" [(ngModel)]="filterText"/>-->
<!--    <div id="filter-buttons">-->
<!--      <button class="filter-button" (click)="filterTrips()">wyszukaj</button>-->
<!--      <button class="filter-button" (click)="listTrips()">resetuj</button>-->
<!--    </div>-->
<!--  </div>-->
  <ul id="trip-container" *ngIf="trips!.length > 0; else noTrips">
    <h1 class="user_trips_header"> Moje wycieczki </h1>
    <li id ="li-trips" *ngFor="let trip of trips">
      <a id ="a-trips" [routerLink]="['/trip/' + trip.name]">{{ trip.name }}</a>
    </li>
  </ul>
  <ng-template #noTrips>
    <p> Brak elementów do wyświetlenia </p>
  </ng-template>
</div>
