<div id="route-container">
  <div id="name"></div>
  <div id="route-map">
    <div id="map" class="map"></div>
    <div id="popup" class="ol-popup">
      <button id="popup-closer" class="ol-popup-closer"> x </button>
      <div id="popup-content"></div>
    </div>
  </div>
  <div *ngIf="this.view_route" id="route-info">
    <h1> {{ this.view_route.name}} </h1>
    <table class="route-info-table">
      <tr>
        <td><strong>Typ trasy:</strong></td>
        <td>{{ this.view_route.type }}</td>
      </tr>
      <tr>
        <td><strong>Trudność trasy:</strong></td>
        <td>{{ this.view_route.difficulty }}</td>
      </tr>
      <tr>
        <td><strong>Szacowany dystans:</strong></td>
        <td>{{ calculateDistance(this.view_route.routePoints) }} km</td>
      </tr>
      <tr>
        <td><strong>Szacowany czas pokonania trasy:</strong></td>
        <td>{{ getViewRouteTimeHours() }} h {{ getViewRouteTimeMinutes() }} min</td>
      </tr>
      <tr>
        <td><strong>Wymagany sprzęt:</strong></td>
        <td>{{ this.view_route.equipment || 'brak' }}</td>
      </tr>
      <tr>
        <td><strong>Opis trasy:</strong></td>
        <td>{{ this.view_route.description || '-' }}</td>
      </tr>
    </table>
  </div>
  <div id="user-option-container">
    <div id="user-container" *ngIf="userService.isLoggedin">
      <button class="favourite_button"  *ngIf="isFavourite$ | async" (click)="deleteButtonClicked()"> Usuń trase z ulubionych </button>
      <button class="favourite_button" *ngIf="!(isFavourite$ | async)" (click)="addButtonClicked()"> Dodaj trase do ulubionych </button>
      <div *ngIf="operationSuccess" class="add-route-success">{{ operationSuccess }}</div>
    </div>
  </div>
</div>
